.recetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: bisque;

    height: auto;
    width: 100vw;
}

.cartas {
    padding: 1em;
}